# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*

# Ignore build and library directiories
build
lib/*

# Misc files for documentation
*.jpg
*.aux
*.toc
*.pdf
*.doc
*.log
*.ldf

# Compiled Vulkan shaders
*.spv

.vscode/
.Rproj.user
